<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>

    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bookstore</property>
        <property name="hibernate.connection.username">timothymiamba</property>
        <property name="hibernate.connection.password">090500</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.event.model.User" />
        <mapping class="com.bookstore.bookstore.model.Book" />
        <mapping class="com.bookstore.bookstore.model.Order" />
    </session-factory>
</hibernate-configuration>